<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<div class="arretes">

	<div class="cardContainer">
		<div class="title">Recherche des arrêtés</div>
		<div class="row">
			<ul>
				<li class="span3 card"
					ng-repeat="arrete in arretes | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
					<button class="btn close cardClose"
						data-ng-click="deleteArrete(Arrete.id)">&times;</button>
					<div class="cardHeader">{{arrete.number + ' ' +
						arrete.typeAutorisation}}</div>
					<div class="cardBody">
						{{arrete.petitionDate | date:'EEE dd MMM yyyy'}} <a
							href="#!/arrete/{{arrete.number}}" class="cardBody btn-link">
							{{ arrete.arretes.length }} Détail</a>
					</div>
				</li>
			</ul>
		</div>
		<div uib-pagination items-per-page="pageSize" total-items="totalItems"
			ng-model="currentPage" max-size="maxSize" class="pagination-sm"
			boundary-links="true" force-ellipses="true"></div>
	</div>
   <ui-view />
</div>